*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
    list-style: none;
}

.menu{
    margin-left: 50px;
    margin-top: 50px;
    background-color: orange;
    width: 100px;
}
ul li{
    border: 1px solid red;
}